/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{
  font-family: sans-serif;
}


.row {
   display: flex;
}
.col1 {
  min-height: 1px;
  float: left;
  width: 33.33%;
}
.col2 {
  float: center;
  width: 33.33%;
  font-size: 100px;
  text-align: center;
  font-weight: bold;
}
.col3 {
  float: right;
  width: 33.33%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

a {
  background-color: black;
  border-radius: 1px;
  text-decoration: none;
  color: white;
  font-size: 25px;
}
/*
header {
  display: flex;
  justify-content: center;
} */
